<h1>Editing Mail</h1>

<% form_for(@mail_piece) do |f| %>
  <%= f.error_messages %>

<table id="mailPieceTable">
  <thead>
  <tr>
    <th>Field</th>
    <th>Value</th>
  </tr>
  </thead>
  <tbody>
  <tr><td><%= f.label :gang_name %></td><td><%= f.text_field :gang_name %></td></tr>
  <tr><td><%= f.label :piece_name %></td><td><%= f.text_field :piece_name %></td></tr>
  <tr><td><%= f.label :piece_code %></td><td><%= f.text_field :piece_code %></td></tr>
  <tr><td><%= f.label :current_status %></td><td><%= f.text_field :current_status %></td></tr>
  <tr><td><%= f.label :order_qty %></td><td><%= f.text_field :order_qty %></td></tr>
  <tr><td><%= f.label :mail_universe_description %></td><td><%= f.text_field :mail_universe_description %></td></tr>
  <tr><td><%= f.label :household_quantity_estimate %></td><td><%= f.text_field :household_quantity_estimate %></td></tr>
  <tr><td><%= f.label :voter_count %></td><td><%= f.text_field :voter_count %></td></tr>
  <tr><td><%= f.label :list_name %></td><td><%= f.text_field :list_name %></td></tr>
  <tr><td><%= f.label :date_to_printer %></td><td><%= f.date_select :date_to_printer, :include_blank => true %></td></tr>
  <tr><td><%= f.label :usps_drop_date %></td><td><%= f.date_select :usps_drop_date, :include_blank => true %></td></tr>
  <tr><td><%= f.label :expected_drop_date %></td><td><%= f.date_select :expected_drop_date, :include_blank => true %></td></tr>
  <tr><td><%= f.label :target_hit_date %></td><td><%= f.date_select :target_hit_date, :include_blank => true %></td></tr>
  <tr><td><%= f.label :actual_hit_date %></td><td><%= f.date_select :actual_hit_date, :include_blank => true %></td></tr>
  <tr><td><%= f.label :payment_description %></td><td><%= f.text_field :payment_description %></td></tr>
  <tr><td><%= f.label :final_status %></td><td><%= f.text_field :final_status %></td></tr>
  <tr><td><%= f.label :have_invoice %></td><td><%= f.check_box :have_invoice %></td></tr>
  </tbody>
  <tfoot>
    <tr>
      <td></td><td><%= f.submit 'Save' %></td>
    </tr>
  </tfoot>
</table>

<% end %>

<%= link_to 'Client', mail_client_path(@mail_piece.mail_client) %>