


<h1>Client List</h1>

<table id="mailClientTable">
  <thead>
  <tr>
    <th>Client Name</th>
    <th>District Number</th>
    <th>Mail Pieces</th>
    <th>&nbsp;</th>
  </tr>
  </thead>

  <tbody>

<% @mail_clients.each do |mail_client| %>
  <tr>
    <td><%=h mail_client.last_name %>, <%=h mail_client.first_name %></td>
    <td><%=h mail_client.district_number %></td>
    <td><%=h mail_client.mail_pieces.count %></td>
    <td><%= link_to 'View', mail_client %></td>
  </tr>
<% end %>

  </tbody>

</table>
<%= link_to 'Add Client', new_mail_client_path %>