<h1><%=h @mail_client.last_name %>, <%=h @mail_client.first_name %> (#<%=h @mail_client.district_number %>)</h1>
<%= link_to 'Edit', edit_mail_client_path(@mail_client) %> |
<%= link_to 'Client list', mail_clients_path %> |
<%= link_to 'Mail list', mail_pieces_path %>

<table id="mailPieceTable">
  <thead>
  <tr>
    <th>Gang</th>
    <th>Piece</th>
    <th>Printer</th>
    <th>Drop</th>
    <th>Status</th>
    <th>Universe</th>
    <th>Qty</th>
    <th>Order Qty</th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
<% @mail_client.mail_pieces.each do |p| %>
  <tr>
    <td><%=h p.gang_name %></td>
    <td><%=h p.piece_name %></td>
    <td><%=h p.date_to_printer %></td>
    <td><%=h p.usps_drop_date %></td>
    <td><%=h p.current_status %></td>
    <td><%=h p.mail_universe_description %></td>
    <td><%=h p.household_quantity_estimate %></td>
    <td><%=h p.order_qty %></td>
    <td><%= link_to 'Edit', edit_mail_piece_path(p) %></td>
  </tr>
<% end %>
  </tbody>
</table>
<%= link_to 'Add', new_mail_client_mail_piece_path(@mail_client) %>