<h1>Mail Client</h1>

<table>
  <tr><td>First name</td><td><%=h @mail_client.first_name %></td></tr>
  <tr><td>Last name</td><td><%=h @mail_client.last_name %></td></tr>
  <tr><td>District number</td><td><%=h @mail_client.district_number %></td></tr>
</table>
<%= link_to 'Edit', edit_mail_client_path(@mail_client) %> | <%= link_to 'Back', mail_clients_path %>

<h2>Mail Pieces</h2>

<table>
  <tr>
    <th>Piece name</th>
    <th>Piece code</th>
  </tr>

<% @mail_client.mail_pieces.each do |p| %>
  <tr>
    <td><%=h p.piece_name %></td>
    <td><%=h p.piece_code %></td>
  </tr>
<% end %>

</table>
<%= link_to 'Show all', mail_client_mail_pieces_path(@mail_client) %> | <%= link_to 'Add', new_mail_client_mail_piece_path(@mail_client) %>