<h1>Client</h1>

<table id="mailClientTable">
  <thead>
  <tr>
    <th>Field</th>
    <th>Value</th>
  </tr>
  </thead>
  <tbody>
  <tr><td>First name</td><td><%=h @mail_client.first_name %></td></tr>
  <tr><td>Last name</td><td><%=h @mail_client.last_name %></td></tr>
  <tr><td>District number</td><td><%=h @mail_client.district_number %></td></tr>
  </tbody>
</table>
<%= link_to 'Edit', edit_mail_client_path(@mail_client) %> |
<%= link_to 'Client list', mail_clients_path %> |
<%= link_to 'Mail list', mail_client_mail_pieces_path(@mail_client) %>

<h2>Mail Summary</h2>

<table id="mailPieceTable">
  <thead>
  <tr>
    <th>Piece name</th>
    <th>Piece code</th>
    <th>Status</th>
    <th>Qty</th>
    <th>Drop Date</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  </thead>

  <tbody>
<% @mail_client.mail_pieces.each do |p| %>
  <tr>
    <td><%=h p.piece_name %></td>
    <td><%=h p.piece_code %></td>
    <td><%=h p.current_status %></td>
    <td><%=h p.order_qty %></td>
    <td><%=h p.usps_drop_date %></td>
    <td><%= link_to 'View', p %></td>
    <td><%= link_to 'Edit', edit_mail_piece_path(p) %></td>
  </tr>
<% end %>
  </tbody>
</table>
<%= link_to 'Add', new_mail_client_mail_piece_path(@mail_client) %>